@font-face {
    font-family: 'Hiragino Kaku Gothic ProN';
    src: url('pages/fonts/Hiragino\ Kaku\ Gothic\ Pro\ W3.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

nav {
    background-color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0px;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 1.3em;

    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;

    float: right;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  #navText{
    color: black;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 1.3em;

    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    float: left;
  }