@font-face {
    font-family: 'Hiragino Kaku Gothic ProN';
    src: url('fonts/Hiragino\ Kaku\ Gothic\ Pro\ W3.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1 {
    justify-content: center;
    text-align: center;
    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #40777D;
}
ul {
    list-style: none;
    text-align: center;
}
ul li {
    display: inline-block;
}
.about-section {
    background-color: #F5F5F5;
}
img .about-section {
    width: 200px;
    height: 236px;
}
img .about-section :hover {
    color: black;
    opacity: 0.3;
}
.social-section {
    background-color: #F5F5F5;
}