@font-face {
    font-family: 'Hiragino Kaku Gothic ProN';
    src: url('Pages/fonts/Hiragino\ Kaku\ Gothic\ Pro\ W3.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  h1 {
    justify-content: center;
    text-align: center;
    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #40777D;
    margin-bottom: 80px;
}

.top_section {
  position: relative;
  top: 50px;
  height: 700px;
}

.second_section {
  background-color: #F5F5F5;
  height: 600px;
}

.third_section {
  height: 2000px;
}

.shift_right {
  float: right;
  position: relative;
  top: 30px;
  right: 180px;
}

.shift_left {
  text-align: right;
  float: left;
  position: relative;
  top: 20px;
  left: 150px;
  height: 300px;
  width: 300px;
}

img.left {
  position: relative;
  left: 80px;
  width: 550px;
  height: 400px;
}

img.right {
  position: relative;
  left: 300px;
  width: 500px;
  height: 350px;
}

p.title{
  font-size: 32px;
}

p.section{
  font-family: 'Raleway';
  font-size: 20px;
}

.button{
  position: relative;
  top: 100px;
  font-family: 'Roboto';
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  padding: 25px 60px;
  color: white;
  background: #40777D;
  border-radius: 43.5px;
}

  * {
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Kaku Gothic ProN';
  }
  
  nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  
    max-width: 1440px;
    min-height: 96;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
  }
  
  .navbar {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .logo h1 {
    margin: 0;
    letter-spacing: 0.05em;
  }
  
  .logo a {
    font-size: 38.58px;
    font-weight: 400;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-right: 32px;
  }
  
  .menu a {
    font-size: 20.09px;
    font-weight: 700;
    letter-spacing: 0.05em;
    transition: all 0.15s ease-out;
  }
  
  .active, .nav-link:hover {
    border-bottom: 2px solid;
  }