h1.title {
  justify-content: center;
  text-align: center;
  font-family: var(--font-heading);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: var(--color-brand-green-dark);
  margin-top: 20px;
  margin-bottom: 50px;
}
ul.team {
  margin-top: 20px;
  list-style: none;
  text-align: center;
}
.about-section p {
  font-family: var(--font-body), sans-serif;
}
.name {
  font-size: 24px;
  margin-top: 10px;
}
p.about-section {
  text-align: center;
}
li.member {
  display: inline-block;
  margin-right: 60px;
  margin-left: 60px;
  position: relative;
}
.about_section {
  background-color: var(--color-background-dark);
  margin-bottom: 50px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.location_section {
  background-color: var(--color-background);
  padding-bottom: 40px;
}

p.p_location {
  overflow-wrap: break-word;
  width: 300px;
}

ul.location_info {
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -10%;
  gap: 5%;
}

li.location_text {
  vertical-align: top;
}

.overlay {
  position: relative;
  width: 200px;
  height: 236px;
}
.image {
  width: 200px;
  vertical-align: top;
  width: 200px; 
  height: 236px; 
  object-fit: cover;
}
.overlay:after {
  content: attr(text-content);
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.3s;
}
.overlay:hover:after {
  opacity: 0.8;
}

.social_section {
  padding-top: 40px;
  background-color: var(--color-background-dark);
  padding-bottom: 100px;
  text-align: center;
  background-image: url("/image/card (left).svg"), url("/image/card (left).svg"), url("/image/card (right).svg") ;
  background-repeat: no-repeat;
  background-size:  500px 500px, 500px 500px, 600px 600px;
  background-position: -250px 200px, 1300px 500px, 1200px -90px;
}

/* for prototype purpose only */
.feed {
  display: flex;
  justify-content: center;
}

li.feed {
  display: inline-block;
}

.feed_image {
  width: 800px;
}
/* end */

.logo {
  margin-top: 0;
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 24px;
  margin-right: 24px;
}

.logo h1 {
  margin: 0;
  letter-spacing: 0.05em;
}

.logo a {
  font-size: 38.58px;
  font-weight: 400;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin-right: 32px;
}

.menu a {
  font-size: 20.09px;
  font-weight: 700;
  letter-spacing: 0.05em;
  transition: all 0.15s ease-out;
}

.active,
.nav-link:hover {
  border-bottom: 2px solid;
}
