.footer {
  background-color: var(--color-brand-green-dark);
  padding: 8rem 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-font-dark);

  a:not(.social-icons > a):hover {
    color: var(--color-brand-green);
    transition: color 0.2s linear;
  }

  .banner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 3rem;
    border-right: 1px solid white;
    min-width: fit-content;

    .title {
      text-transform: uppercase;
      font-size: var(--font-heading-3);

      span {
        display: block;
      }
    }

    .contact {
      line-height: 1.8;

      .call {
        text-decoration: underline;
        text-decoration-thickness: 0.1px;
        text-underline-offset: 1px;
      }

      div {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
      }

    } 
  }

  .footer-nav {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-self: flex-start;
    gap: 8rem;
    padding: 0 6rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.75rem 0.5rem;
      min-width: 100px;

      .social-icons {
        display: flex;
        flex-direction: row;

        a {
          opacity: 0.8;
        }

        a:hover {
          opacity: 1;
          transition: opacity 0.2s linear;
        }
      }

      ul {
        line-height: 1.5rem;
      }
    }

  }

  .images {
    position: absolute;
    right:0px;
    margin-top: 80px;
    pointer-events: none;
  }
}

